body {
  background: url('https://images8.alphacoders.com/555/555057.jpg') no-repeat center center fixed;
  background-size: cover;
}
header {
  padding-top: 25px;
}
h1, h2 {
  color: black;
}
nav {
  text-align: center;
  position: relative
}
main {
  padding-bottom: 25px;
}
.quiz-questions-page{
  display: none;
}
.results {
  display: inline-block;
}
#question, #answer-box {
  display: block;
  margin: 0px auto;
  position: relative;
}
#question {
  padding: 20px;
}
.quiz-container {
  text-align: center;
  margin-top: 80px;
}
.paper-box {
  background-color: #ffffff;
  border-radius: 5px;
  width: 600px;
  margin: 0px auto;
}
.tracker {
  position: absolute;
  right: 20px;
  bottom: 0px;
}
.answers-wrapper {
  text-align: left;
  padding: 30px;
  margin-bottom: 20px;
}
.answer {
  display: inherit;
}
.submit-wrapper {
  text-align: center;
  display: block;
  margin-top: 15px;
}
.js-question-feedback{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  position: absolute;
  top:0;
  bottom:0;
  z-index: 2;
}
.js-picture img {
  margin-top: 7%;
  border-radius: 5px;
}
.correct, .wrong {
  color: white;
}
#next-question{
  padding: 50px;
}



